<div class="data">
  <h1>Viewing All Resorts With Rating > 3.5</h1>
	{{#each data}}
    <div>
      <p>
        {{this.name}} Resort
      </p>
      <p>
        Rating: {{this.rating}}
      </p>
      <p>
        Location: {{this.location}}
      </p>
      <p>
        Opened in {{this.year_opened}}
      </p>
      <p class="bottom">
        Features: {{this.features}}
      </p>
    </div>
  {{/each}}
</div>
